<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<link rel="stylesheet"  href="{% static 'Consuta.css' %}">
	</head>
	<body>
        <div class="arriba">
            <form action="/principal/consulta/" method="GET" >
                <input id="submit" type="submit" value="Consultar Datos" class="css_input">             
            </form>
            <form action="/principal/informacion/" method="GET" >   
                <input id="submit" type="submit" value="Estudiante" class="css_input">
            </form>
            <form action="/principal/documentacion/" method="GET" >
                <input id="submit" type="submit" value="Documentacion" class="css_input">
            </form>
            <form action="/" method="GET" >
                <input id="submit" type="submit" value="Salir" class="css_input">
            </form>
            <form action="/principal/filtrarC/" method="GET" >
                <input id="submit" type="submit" value="Filtrar por Fecha y codigo" class="css_input">   
                <h3>Codigo</h3> <input type="text" name="otro" class="css_input">
            </form>
            <form action="/principal/filtrar/" method="GET" >     
                <input id="submit" type="submit" value="Filtrar por Fecha y usuario" class="css_input">
                <h3>Fecha</h3><input type="text" name="ffecha" class="css_input">
            </form>

        </div>
        <div id="entrada">
            <h2>Archivo de Salida</h2>
            <textarea name="comentarios" rows="30" cols="120">{{texto1}}
            </textarea>
        </div>
    </body>
</html>