<!DOCTYPE html>
<html>
	{% load static %}
	<head>
	    <link rel="stylesheet"  href="{% static 'Filtros.css' %}">
	</head>
	<body>
        <div class="arriba">
            <form action="/principal/consulta/" method="GET" >
                <input id="submit" type="submit" value="Consultar Datos" class="css_input">             
            </form>
            <form action="/principal/informacion/" method="GET" >   
                <input id="submit" type="submit" value="Estudiante" class="css_input">
            </form>
            <form action="/principal/documentacion/" method="GET" >
                <input id="submit" type="submit" value="Documentacion" class="css_input">
            </form>
            <form action="/" method="GET" >
                <input id="submit" type="submit" value="Salir" class="css_input">
            </form>
            <form action="/principal/filtrarC/" method="GET" >
                <input id="submit" type="submit" value="Filtrar por Fecha y codigo" class="css_input">   
                <h3>Codigo</h3> <input type="text" name="otro" class="css_input">
            </form>
            <form action="/principal/filtrar/" method="GET" >     
                <input id="submit" type="submit" value="Filtrar por Fecha y usuario" class="css_input">
                <h3>Fecha</h3><input type="text" name="ffecha" class="css_input">
            </form>
        </div>
        <div id="tabla">
            <table>
                <tr>
                    <td><strong>No.</strong></td>
                    <td><strong>Codigo</strong></td>
                    <td><strong>Fecha</strong></td>
                </tr>  
                    {% for a in fecha %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{codigo}}</td>
                            <td>{{a}}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>        
    </body>
</html>