<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<link rel="stylesheet"  href="{% static 'Info.css' %}">
	</head>
	<body>
        <div class="arriba">
            <form action="/principal/consulta/" method="GET" >
                <input id="submit" type="submit" value="Consultar Datos" class="css_input">             
            </form>
            <form action="/principal/informacion/" method="GET" >   
                <input id="submit" type="submit" value="Estudiante" class="css_input">
            </form>
            <form action="/principal/documentacion/" method="GET" >
                <input id="submit" type="submit" value="Documentacion" class="css_input">
            </form>
            <form action="/" method="GET" >
                <input id="submit" type="submit" value="Salir" class="css_input">
            </form>
            <form action="/principal/filtrarC/" method="GET" >
                <input id="submit" type="submit" value="Filtrar por Fecha y codigo" class="css_input">   
                <h3>Codigo</h3> <input type="text" name="otro" class="css_input">
            </form>
            <form action="/principal/filtrar/" method="GET" >     
                <input id="submit" type="submit" value="Filtrar por Fecha y usuario" class="css_input">
                <h3>Fecha</h3><input type="text" name="ffecha" class="css_input">
            </form>

        </div>
        <div id="ifo">
            <h2>Informacion del Estudiante</h2>
            <p>Nombre: Angel Geovany Aragón Pérez</p>
            <p>Carnet: 201901055</p>
            <p>Introduccion a la programacion y computacion 2 seccion 'A</p>
            <p>Ingenieria en Ciencias y Sistemas</p>
            <p>4to Semestre</p>
        </div>
    </body>
</html>